<template lang="pug">
.home.text-center
	h2
		i.fas.fa-sun.fa-3x
	h3.q-mb-md Tupi-Guarani Unite
	h4.q-mb-lg Ciao Mondo Il Mio Culo
	.flex.flex-center
		q-btn.q-mr-md(color="primary") Displays Are
		q-btn(color="secondary") Surveys Are
		
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
	name: 'Home',
	components: {
		HelloWorld
	}
}
</script>

<style scoped>
.home {
	height: calc(100vh - 150px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
</style>