<template lang="pug">
q-layout(view='lHh Lpr lFf')
	q-header.glossy.q-pa-md(elevated)
		q-toolbar
			q-btn(flat dense round @click='leftDrawerOpen = !leftDrawerOpen' aria-label='Menu' icon='menu')
			q-toolbar-title
				i.fas.fa-cogs.fa-2x.on-left
				| Indigenous Engine 1885
			div 
				q-icon.md-24.q-mr-md(name="toys")
				| Engenho Novo v{{ $q.version }}
	q-drawer(v-model='leftDrawerOpen' show-if-above bordered content-class='bg-grey-2')
		q-list
			q-item-label(header) De Iugonibus Maximis		
			q-item(clickable tag='a' target='_blank' href='https://quasar.dev')
				q-item-section(avatar)
					q-icon(name='all_inclusive').


				q-item-section
					q-item-label Alto Tarauacá
					q-item-label(caption) quasar.dev
			q-item(clickable tag='a' target='_blank' href='/')
				q-item-section(avatar)
					q-icon(name='code').


				q-item-section
					q-item-label Himarimã
					q-item-label(caption) github.com/quasarframework
			q-item(clickable tag='a' target='_blank' href='https://chat.quasar.dev')
				q-item-section(avatar)
					q-icon(name='rowing').


				q-item-section
					q-item-label Massaco
					q-item-label(caption) chat.quasar.dev
			q-item(clickable tag='a' target='_blank' href='https://forum.quasar.dev')
				q-item-section(avatar)
					q-icon(name='beach_access').


				q-item-section
					q-item-label Rio Omerê
					q-item-label(caption) forum.quasar.dev
			q-item(clickable tag='a' target='_blank' href='https://twitter.com/quasarframework')
				q-item-section(avatar)
					q-icon(name='directions_bike').


				q-item-section
					q-item-label Twitter
					q-item-label(caption) @quasarframework
	q-page-container
		router-view
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'

export default {
	name: 'LayoutDefault',

	components: {
		HelloWorld
	},

	data () {
		return {
			leftDrawerOpen: false
		}
	}
}
</script>

<style>
q-item:hover {
	text-decoration: none;
}
</style>
